{{- /*
	A temporary fork of shared/emitter.go.tmpl that uses 'rawExpr' instead of
	'expr' to print user provided emitter parameters so that cff.Flow's
	variable shadowing bug can be fix separately from cff.Parallel. 'expr'
	has a side affect that should be left out of cff.Parallel logic.
	This fork can be removed once cff.Parallel's variable shadowing
	issues are resolved (GO-1099).
*/ -}}
{{- define "buildEmitter" -}}
	{{- $cff :=  import "go.uber.org/cff" -}}
	{{- with .Emitters -}}
		{{ $cff }}.EmitterStack(
			{{- range . -}}
				{{ rawExpr . }},
			{{- end -}}
		)
	{{- else -}}
		{{ $cff }}.NopEmitter()
	{{- end -}}
{{- end -}}

{{- /* vim:set ft=gotexttmpl noet: */ -}}
