{{- $context := import "context" -}}
{{- $cff := import "go.uber.org/cff" -}}
{{- $parallel := .Parallel -}}
{{- with .Parallel -}}
	ctx := {{ expr .Ctx }}
	emitter := {{ template "buildEmitter" $parallel }}

	var (
		parallelInfo = &{{ $cff }}.ParallelInfo{
			{{ with $parallel.Instrument -}}
				Name: {{ expr .Name }},
			{{ end -}}
			File: {{ quote $parallel.PosInfo.File}},
			Line: {{ $parallel.PosInfo.Line }},
			Column: {{ $parallel.PosInfo.Column}},
		}
		directiveInfo = &{{ $cff }}.DirectiveInfo{
			Name: parallelInfo.Name,
			Directive: {{ $cff }}.ParallelDirective,
			File: parallelInfo.File,
			Line: parallelInfo.Line,
			Column: parallelInfo.Column,
		}
		{{ with $parallel.Instrument -}}
			parallelEmitter = emitter.ParallelInit(parallelInfo)
		{{- else -}}
			parallelEmitter = {{ $cff }}.NopParallelEmitter()
		{{- end }}

		schedInfo = &{{ $cff }}.SchedulerInfo{
			Name: parallelInfo.Name,
			Directive: {{ $cff }}.ParallelDirective,
			File: parallelInfo.File,
			Line: parallelInfo.Line,
			Column: parallelInfo.Column,
		}

		// possibly unused
		_ = parallelInfo
		_ = directiveInfo
	)

	startTime := {{ import "time" }}.Now()
	defer func() { parallelEmitter.ParallelDone(ctx, time.Since(startTime)) }()

	schedEmitter := emitter.SchedulerInit(schedInfo)

	sched := {{ $cff }}.BeginFlow(
		{{ $cff }}.SchedulerParams{
			{{ with .Concurrency -}} Concurrency:  {{ expr . }}, {{- end -}}
			Emitter: schedEmitter,
			{{ with .ContinueOnError -}} ContinueOnError: {{ expr . }}, {{ end }}
		},
	)

	var tasks []*{{ template "task" }}
	defer func() {
		for _, t := range tasks {
			if !t.ran.Load() {
				t.emitter.TaskSkipped(ctx, err)
			}
		}
	}()

	{{ range $parallel.Tasks }}
		{{ template "task.go.tmpl" . }}
	{{ end }}

	{{ range $parallel.SliceTasks }}
		{{ template "slice.go.tmpl" . }}
	{{ end }}

	{{ range $parallel.MapTasks }}
		{{ template "map.go.tmpl" . }}
	{{ end }}

	if err := sched.Wait(ctx); err != nil {
		parallelEmitter.ParallelError(ctx, err)
		return err
	}
	parallelEmitter.ParallelSuccess(ctx)
	return nil
{{- end -}}

{{- /* vim:set ft=gotexttmpl noet: */ -}}
