{{- $context := import "context" -}}
{{- $cff := import "go.uber.org/cff" -}}
{{- $t := printf "sliceTask%d" .Serial -}}

// {{ .PosInfo.File }}:{{ .PosInfo.Line }}:{{ .PosInfo.Column }}
{{ $t }}Slice := {{ expr .Slice }}
{{ if .SliceEndFn -}}
{{ $t }}Jobs := make([]*{{ $cff }}.ScheduledJob, len({{ $t }}Slice))
{{ end -}}

for {{if .HasIndexParameter}} idx {{else}} _ {{end}}, val := range {{ $t }}Slice {
	{{if .HasIndexParameter -}}
	idx := idx
	{{- end}}
	val := val
	{{ $t }} := new({{ template "task" }})
	{{ $t }}.fn = func(ctx {{ $context }}.Context) (err error) {
		defer func() {
			recovered := recover()
			if recovered != nil {
				{{ template "panicError" }}
			}
		}()
		{{ if .Function.HasError }} err = {{ end }}{{ if .HasIndexParameter }}{{ template "callSlice" . }}{{else}}{{ template "callSliceNoIndex" . }}{{end}}
		return
	}
	{{ if .SliceEndFn -}}
	 	{{ $t }}Jobs[idx] =
	{{- end -}}
	 sched.Enqueue(ctx, {{ $cff }}.Job{
		Run: {{ $t }}.fn,
	})
}

{{ with .SliceEndFn -}}
	sched.Enqueue(ctx,  {{ $cff }}.Job{
		Dependencies: {{ $t }}Jobs,
		Run: func(ctx {{ $context }}.Context) (err error) {
			defer func() {
				recovered := recover()
				if recovered != nil {
					{{ template "panicError" }}
				}
			}()

			{{ template "callSliceEndFn" . }}
			return
		},
	})
{{ end }}

{{- define "callSlice" -}}
	{{- expr .Function.Node }}({{- if .Function.WantCtx }}ctx,{{ end }} idx, val)
{{- end -}}

{{- define "callSliceNoIndex" -}}
	{{- expr .Function.Node }}({{- if .Function.WantCtx }}ctx,{{ end }} val)
{{- end -}}

{{- define "callSliceEndFn" -}}
	{{ if .HasError }} err = {{ end }}{{- expr .Node }}({{- if .WantCtx }}ctx,{{ end }})
{{- end -}}

{{- /* vim:set ft=gotexttmpl noet: */ -}}
