{{- define "callTaskFunc" -}}
	{{- expr .Node }}
{{- end -}}

{{- define "callTaskArgs" -}}
	({{- if .Function.WantCtx }}ctx,{{ end }} {{- range .Inputs }}v{{ typeHash . }}, {{- end }})
{{- end -}}

{{- /* vim:set ft=gotexttmpl noet: */ -}}
