name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      name: Check out repository
    - uses: actions/setup-go@v5
      name: Set up Go
      with:
        go-version: 1.22.x
        cache: false  # managed by golangci-lint

    - uses: golangci/golangci-lint-action@v4
      name: Install golangci-lint
      with:
        version: latest
        args: --version  # make lint will run the linter

    - run: make lint
      name: Lint

    # Verify that all generated code is up-to-date.
    - name: Regenerate code
      run: make generate-cover
    - name: Verify unchanged
      run: |
        if ! git diff --quiet; then
          echo "Code changed after 'make generate'"
          git diff
          exit 1
        fi

    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v4

  build-test:
    name: Build and test

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        go: ["1.21.x", "1.22.x"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Download Dependencies
      run: go mod download

    - name: Test
      run: make cover

    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
